@import 'constants';
@import 'fonts';
@import 'tip';
@import '../../../node_modules/normalize.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// ***** Mixin *****

// See: https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// ***** General Style *****
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  // sass-lint:disable no-important
  overflow-x: hidden !important;
}

body,
input,
button {
  font-family: $serif-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font-family;
}

a {
  color: $blue;

  &:hover {
    color: $dark-blue;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: $text-color;
}

blockquote {
  padding: 26px 0px 28px;
  margin: 0;
  background-color: transparent;
  font-family: $sans-serif-font-family;

  b {
    font-weight: 500;
  }

  strong,
  p {
    color: black !important;
    font-size: 1.25em;
    line-height: 1.4em !important;
    font-weight: 500;
    margin-bottom: 1em !important;
  }

  .white{
    color: white !important;
  }

  .author {
    padding: 0;
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .symbol {
    font-size: 9em;
    font-weight: 500;
    line-height: 1em;
    padding: 0;
    margin: -0.3em 0 0 !important;
    color: black;

    &::before {
      content: '»';
      margin: 0;
    }
  }
}

.container-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: none;
  padding: 1em;
  background-color: transparent;
  max-width: 450px;
  min-height: $vis-height;

  h2 {
    font-family: 'bruneldeck';
    font-weight: normal;
    font-size: 52pt;
    margin: 0;
    padding-bottom: 10px;
    line-height: 60%;
    // -webkit-font-feature-settings: "caps" 1;
    // -moz-font-feature-settings: "caps" 1;
    // -ms-font-feature-settings: "caps" 1;
    // font-feature-settings: "caps" 1;
  }

  small {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: $sans-serif-font-family;
  }
}

figure {
  margin: 2.5em 0;

  img {
    position: relative;
    left: (100% - $fig-image-width) / 2;
    width: $fig-image-width;
  }

  figcaption {
    margin: 0.5em 0;
    font-family: $sans-serif-font-family;
    font-size: $fig-caption-font-size;
    font-weight: normal;
    line-height: 1.5em;
    color: $text-color;
  }

  .ref {
    padding-right: 0.3em;
    color: $text-very-light-color;
  }
}

img,
video {
  object-fit: cover;
  object-position: 50% 50%;
}

address {
  font-family: $sans-serif-font-family;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 500;
  color: $text-color;

  a {
    line-height: 1.22222em;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $white;
    transition: border-color 0.2s ease-out;

    &:hover {
      color: inherit;
      border-color: $text-color;
    }
  }

  .authors {
    margin-bottom: 0.5em;
    color: $text-color;
    text-transform: uppercase;
  }

  .date {
    color: $text-light-color;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.not-published{
  margin: 0 auto;
  font-size: 10pt;
  padding-right: 10px;
}

.no-pointer{
  pointer-events: none;
}

.display-none{
  display: none;
}

.social-buttons {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: $header-logo-height;
  list-style: none;

  > li {
    display: inline-block;
    line-height: $header-logo-height;

  }

  button {
    line-height: $header-logo-height;
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;
  }
}

.steps {
  position: relative;
  z-index: 2;
  height: 100%;

  section {
    max-width: $step-max-width;
    margin: auto auto calc(100vh - #{$header-height});

    &:first-child {
      margin-top: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
      transform: translateY(50%);
    }

    &.invisible{
      opacity: 0;
    }

    h1 {
      font-size: $step-heading-font-size * 1.25;
      line-height: 1.3em;
    }

    h2 {
      font-size: $step-heading-font-size;
    }

    figure {
      margin: 1.75em 0 1.5em;

      img {
        position: relative;
        left: 0;
        width: 100%;
      }
    }
  }
}

.sectionContainer{
  border: solid transparent 0.1em;
}

// ***** Header *****
header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: $header-height;
  padding: $header-padding;
  background-color: $header-background-color;

  a.facebook {
    color: $text-color;
  }

  &.dark {
    color: $header-dark-text-color;
    background-color: $header-dark-background-color;

    a.facebook {
      color: $header-dark-text-color;
    }

    .progress {
      bottom: -4px;
      height: 4px;
      background-color: $header-dark-scroll-progress-color;
    }
  }

  img {
    position: relative;
    z-index: 2;
    height: $header-logo-height;
  }

  .article-reminder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-family: $sans-serif-font-family;
    font-size: 13px;
    font-weight: 500;
    line-height: $header-height;
    color: inherit;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .social-buttons {
    position: relative;
    z-index: 3;
    color: inherit;

    button {
      color: inherit;
      transition: opacity 0.2s ease-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .progress {

    display: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $header-scroll-progress-color;
  }
}

// ***** Main *****
main {
  position: relative;
  top: $header-height;
}

.intro-section {
  position: relative;
  //max-width: $text-max-width;
  padding: $main-padding;
  margin: $intro-margin-top auto 0;
  box-sizing: content-box;

  h1 {
    font-size: 2.7em;
    font-family: 'graphik';
    font-weight: 400;
    text-align: center;
    padding-bottom: 25px;

  }

  p:first-of-type {
    margin-top: $intro-spacing;
    margin-bottom: $intro-spacing / 2;
    font-size: $intro-text-size;
    font-weight: bold;
  }

  h5{
    &.overTitle{
      font-family: 'graphik';
      text-transform: uppercase;
      font-size: $intro-text-size;
      text-align: center;
    }
  }

}

.monitoring{
  width: 100%;
  margin: 8px 0;
  .monitoring_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .column{
      flex: 49%;
      display: flex;

      flex-direction: column;
      justify-content: center;


      .monitoring_header{
        h5{
          margin: 0;
          padding: 10px 0 0 2px;
          font-family: 'graphik';
          font-weight: 400;
          font-size: 10pt;
        }
      }
      .monitoring_value{
        width: 100%;

        &.transition{
          opacity: 0;
        }

        .gauges {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .gauge{
            //padding-left: 5px;
            width: 100%;
            height: 25px;
            display: flex;
            flex-direction: row;

            .textBox{
              min-width: 100px;
              display: flex;
              justify-content: right;
              padding: 0 3px;
              h5{
                text-align: right;
                margin: auto 0;
                padding: 0;
              }
            }

            .gaugeColorHolder{
              width: 100%;
              height: 25px;
              display: flex;
              flex-direction: row;
              align-items: center;
              border: solid 1px black;
              &.red{
                border: solid 1px $hydroRed;
                background-color: $hydroRed;
              }
              .gaugeColor{
                height: 100%;
                &.blue{
                  //background-color: $hydroBlueMid;
                  background-color: $hydroBlueMid;
                }
                &.red{
                  background-color: $hydroRed;
                }
              }
              .value{
                position: absolute;
                display: flex;
                justify-content: left;
                align-items: center;
                p{
                  margin: 0;
                  padding: 0 0 0 5px;
                  font-size: 10pt;

                  >b{
                    >span{
                      //content: \2192;
                      color: white;
                      font-size: 15px;

                    }
                  }
                }

                &.basicGauge{
                  height: 100%;
                  width: 100%;
                  flex-direction: row;

                  .labelHolder{
                    flex:49%;
                    p{

                    }

                  }
                  .gaugeSeparator{
                    height: calc(100% - 2px);
                    width: 2px;
                    color: white;
                    background-color: white;
                  }

                }

                &.arrowGauge{
                  height: 100%;
                  width: 100%;
                  flex-direction: row;



                  .arrow{
                    width: 190%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    left: 4.5%;


                    .rect{
                    width: 100%;
                    height: 5%;
                    background-color: $white;
                  }

                    .rect-1{
                      position: relative;
                      bottom: 15%;
                      right: 4%;
                      height: 3%;
                      width: 5%;
                      background-color: $white;
                      transform: rotate(30deg);
                    }

                    .rect-2{
                      position: relative;
                      top: 13%;
                      right: 9%;
                      height: 3%;
                      width: 5%;
                      background-color: $white;
                      transform: rotate(-30deg);
                    }




                    img{
                      position: absolute;
                      z-index: 10;
                      height: 100%;
                      width: 100%;
                      //transform: scale(0.1, 0.2);
                      //object-fit: fill;

                    }


                  }


                  .labelHolder{
                    flex:49%;


                    p{

                    }
                  }
                  .gaugeSeparator{
                    height: calc(100% - 2px);
                    width: 2px;
                    color: white;
                    background-color: white;
                  }

                }



              }
              .committed{
                position: relative;
                height: 100%;
                background-color: $hydroBlueDim;
                display: flex;
                justify-content: right;
                align-items: center;
                p{
                  margin: 0;
                  padding: 0 5px 0 0;
                }
              }
            }



          }

        }

        .tokens{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          .tokenContainer{
            width: 100%;
            height: 100%;
            min-width: 25px;
            min-height: 25px;
            background-color: lightblue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
              margin: 0;
              padding: 0;
            }

          }
        }

        h3{
          margin: 0;
          padding: 0;
        }
      }

    }

  }
}

.d3-tip {
  padding: 6px 20px;
  max-width: 400px;
  border-radius: 0;
  //pointer-events: none !important;
  font-family: $sans-serif-font-family;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 0.15em;

  >h4{
    font-family: "graphik medium";
    font-size: 1.2em;
  }

  &.n {
    transform: translateY(-6px);

    &::after {
      margin-top: -2px;
    }
  }

  &.e {
    transform: translateX(6px);

    &::after {
      margin-left: 1px;
    }
  }

  strong {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.37em;
  }
}

.gameBox{
  position: absolute;
  width: 100%;

  //max-height: 80%;
  min-height: 20%;
  padding: 0 0 0% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.transparent{
    background-color: transparent !important;
  }

  .introBox{
    height: 80%;
    color: white;
    .intro-section{
      margin: 20px auto 0;
    }
  }

  .userBox{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    .startbutton{
      border: white solid 1px;
      background-color: white;
      min-height: 20px;
      min-width: 50px;
      padding: 3px 22px;
      border-radius: 5px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 15px;
      p{
        margin: 0px;
        pointer-events: none;
        color: black;
      }
      cursor: pointer;

    }

  }

  .promptBox{
    padding: 10px 25px;
    max-width: 500px;
    min-width: 500px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    h4{
      font-size: 10pt;
      margin: 7px auto;
    }
    p{
      font-size: 11pt;
    }

    &.bilan{

      .header{
        .massiveTitle{
          h2{
            font-size: 28pt;
            font-family: "graphik";
            font-weight: 500;
            text-align: center;
            margin: 20px 0;
          }
        }
      }

      .separator{
        position: relative;
      }
      .separator::after{
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        margin: 20px 0;
        background: grey;
      }

    }

    .header{
      // padding: 0 30px;
      .surtitre{
        h4{
          font-weight: 500;
          font-family: 'graphik';
          text-transform: uppercase;
          padding: 10px 0;

        }
      }
      .question{
        p{
          font-weight: 400;
          margin: 0;
        }
      }

    }

    .choices{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row{
        flex: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        .column{
          flex: 50%;
          display: flex;
          flex-direction: column;
        }
      }


    }

    .printprompt{
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 4px 0 12px 0;

      >.monitoring{
        padding:10px 0;
      }

      &.mapnavigator{
        min-height: 50vh;

        .popUp-bg{
          width: 100vw;
          height: $vis-height;
          position: fixed;
          z-index: 2;
          top: $header-height;
          background-color: rgba(0,0,0,0.8);
          display: none;

          justify-content: center;
          align-items: center;
          .popUp-box{
            background-color: white;

          }
        }

        .mapHolder{
          width: 100%;
          position: relative;
          min-height: inherit;
          padding: 10px 0;
          .superposedMap{
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: inherit;
            position: relative;
            .map, img{
              position: absolute;
              padding: 0;
              min-width: 100%;
              min-height: 300px;
              height: 100%;
              width: 100%;

              &.noClick{
                pointer-events: none;
              }

              svg{
                padding: 0 !important;
                height: unset !important;
                max-height: 100% !important;
              }

            }
          }


        }

      }

    }

    .repartition{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .optionZone{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        min-width: 60%;
        padding: 15px 0;
        .optionUnit{
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6px 0;
          .selectorZone{
            min-height: 40px;
            height: 50%;
            width: 100%;
            max-width: 110px;
            display: flex;
            flex-direction: row;
            background-color: $hydroBlueVib;
            border-radius: 5px;
            margin: 5px;


            .division{
              width: 33%;
              display: flex;
              justify-content: center;
              align-items: center;
              &.minusZone,&.plusZone{
                cursor: pointer;

                h3{
                  font-size: 24pt;
                  margin: 0;
                  padding: 0;
                  pointer-events: none;
                  user-select: none;
                  color: white;
                }
              }

              &.centralZone{
                background-color: white;
                margin: 2px 0;
                width: 40%;
                h3{
                  font-size: 18pt;
                  margin: 0;
                  padding: 4px;
                  user-select: none;
                }

                img{
                  max-width: unset;
                  max-height: unset;
                  min-width: unset;
                  min-height: unset;
                  width: 80%;
                  height: 80%;
                  padding: 0;
                  position: relative;
                  opacity: 0.6;
                }
              }

              &.disabled{
                color: lightgray;
                opacity: 0.5;
                pointer-events: none;
              }

            }

          }
          .textZone{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            h3{
              margin: 0;
              font-size: 11pt;
              font-family: 'graphik medium';
            }

            .inlinetext{
              p{
                margin: 0;
                font-size: 10pt;
              }
            }

          }

        }
      }

      .row{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .choice_header{
          display: inline-block;
          h5{
            display: inline-block;
            margin: 0;
            padding: 0;
          }
          p{
            display: inline-block;
            margin: 0;
            padding: 0;
          }
        }

        .selector{
          display: flex;
          flex-direction: column;
          position: relative;
          .band_row{
            display: flex;
            flex-direction: row;
            .band_column{
              width: 100%;
              display: flex;
              flex-direction: column;
              .band{
                height: 100%;
                width: 100%;
                .colored{
                  background-color: rgba(255,0,0,0.5);
                  height: 100%;
                  width: 3%;
                  pointer-events: none;
                }
              }
              .separator{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;

                .line::before{
                  content: "";
                  display: block;
                  width: 100%;
                  height: 1px;
                  background: black;
                  left: 0;
                }

                .ticks{
                  position: absolute;
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  .tick{
                    position: absolute;
                  }
                }
              }
            }

            .values{
              min-width: 70px;
              padding-left: 30px;
              display: flex;
              flex-direction: column;
              p{
                margin: 0;
                padding: 0;
              }
              .rowjetonsTotal{

              }
              .rowmegawattsTotal{

              }
            }

          }
        }
      }

    }


  }

}

.actionbutton{

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 0 12px 0;
  width: fit-content;
  margin: auto;
  cursor: pointer;

  &.prev{
    display: none;
    pointer-events: none;
  }

  &.disabled{
    opacity: 0.5;
    pointer-events: none;
  }

  .butn{
    border: black 1px solid;
    background-color: black;
    border-radius: 5px;

    cursor: pointer;
    width: unset !important;
    padding: 4px 22px;
    p{
      margin: 0 auto;
      pointer-events: none;
      color: white;
      user-select: none;

      font-size: 10pt;
      letter-spacing: 1px;
    }
  }
}

.choicebutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;

  .butn{
    cursor: pointer;
    margin: 2px 0;
    padding: 10px;
    .holder{
      display: flex;
      flex-direction: column;
      height: 100%;
      user-select: none;
      &.icon{
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        img{
          width: 30px;
          height: 30px;
          min-width: unset !important;
          min-height: unset !important;
          padding: 5px;
        }

      }

      &.label{
        justify-content: center;
        align-items: left;
        width: 100%;
        padding-left: 10px;
      }

      h4{
        margin: 0;
        pointer-events: none;
        font-size: 11pt;
        font-family: 'graphik medium';
        user-select: none;
      }
      p{
        margin: 0;
        pointer-events: none;
        font-size: 10pt;
        user-select: none;
      }
    }

    &.selected{
      background-color: $hydroBlueVib;
      .holder{
        &.label{
          h4{
            color: white;

          }
          p{
            color: white;
          }
        }
      }
    }
  }
}

.butn{
  border: $hydroBlueVib 1px solid;
  pointer-events: none;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
}

.selectionbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;

  .butn{
    margin:2px 0;
    padding: 10px;

    &.selected{
      background-color: $hydroBlueVib;
      color: $white;

      .holder{
        h4, p{
          color: $white;
        }
      }

    }
    .holder{
      display: flex;
      flex-direction: column;
      height: 100%;
      user-select: none;

      &.icon{
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        img{
          width: 30px;
          height: 30px;
          min-width: unset !important;
          min-height: unset !important;
          padding: 5px;
        }

      }

      &.selectionBox{
        width: 20px;
        height: 20px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border: 1px $hydroBlueVib solid;
        border-radius: 10px;

        &.selected{
          background-color: $hydroBlueVib;
          div{
            p{
              color: white;
            }
          }

        }

        div{
          p{
            color: $hydroBlueVib;
            font-size: 18pt;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }
        }
      }

      cursor: pointer;
      &.label{
        justify-content: center;
        align-items: left;
        width: 100%;
        padding-left: 10px;
      }

      h4{
        margin: 0;
        pointer-events: none;

        font-size: 11pt;
        font-family: 'graphik medium';
      }
      p{
        margin: 0;
        pointer-events: none;
        font-size: 10pt;
      }
    }
  }
}


.text-section {
  max-width: $text-max-width;
  padding: 2rem 25px;
  margin: 0 auto;
  box-sizing: content-box;

  p {
    margin-bottom: 0.8em;
  }

  img, video{
    width: 100%;
  }

  &.big-padding{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  &.big-padding-top{
    padding-top: 7rem;
    padding-bottom: 1rem;
  }

  &.big-padding-bottom{
    padding-bottom: 7rem;
    padding-top: 0rem;
  }

}

section.black-bkg{
  position: relative;
  background-color: black !important;
  border: none !important;
  p{
    color: white !important;
  }
}

.viz-section {
  position: relative;
  display: flex;
  padding: $main-padding;

  > .steps {
    padding-top: 50vh;
    padding-bottom: 50vh;
    flex-basis: 100% - $vis-width;

    section p {
      color: $step-text-color;
    }
  }

  > .viz {
    // sass-lint:disable no-vendor-prefixes
    position: -webkit-sticky;
    // sass-lint:disable no-duplicate-properties
    position: sticky;
    top: $header-height;
    width: $vis-width;
    height: $vis-height;
    min-height: $vis-height;
    font-family: $sans-serif-font-family;
    flex-basis: $vis-width;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas,
    svg,
    img,
    .iframeContainer {
      position: absolute;
      padding: 1em;
      height: 90vh;
      width: 100%;
      max-width: 1000px;
      max-height: 1000px;
      min-width: 300px;
      min-height: 300px;
    }

    video{
      //padding: 1em;
      height: 100%;
      width: auto;
      max-width: 1000px;
      max-height: 1000px;
      min-width: 300px;
      min-height: 300px;
    }

    img {
      object-fit: cover;
      object-position: initial;
    }

    .iframeContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      iframe{
        width: 100%;
      }
    }

    .game-area {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 40px);
      width: 100%;
      min-width: 250px;
      max-width: unset !important;
      padding: 0 !important;
      margin: 0 auto;
      padding: 25px;
      //background-color: lightgrey;

      .rootElem{
        position: absolute;
        width: 100%;
        height: $vis-height;
        padding: 0;
        margin: 0;

        .gameScreen{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 10px;
          background-color: #E4ECF6;
          &.gameOver{
            background-color: #F96262;
          }

          .background-image{
            width: 100%;
            height: 100%;
            position: absolute;
            img{
              padding: 0;
              margin: 0;
              min-width: 100%;
              min-height: 100%;
              object-position: 80% 50%;

            }
          }

          .temporaryInfo{
            position: absolute;
            top: 0;
            left: 0;
            p{
              font-size: 8pt;
              margin: 0;
              padding: 0;
              color: gray;
            }
          }
        }


      }

    }
  }

  &.full-page {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 10px 100vh;
      margin-top: -50vh;

      section {
        max-width: 450px;
        padding: $step-padding;
        background-color: $white;
        border: 1px solid $step-border-color;
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: 1;
      width: 100%;
      overflow: hidden;
      flex-basis: 100%;

      video{
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: unset;
        max-width: unset;
      }

      .full-width {
        position: absolute;
        min-width: 100%;
        height: unset !important;
        margin: 0;
        padding: 0;
        max-height: unset;
        max-width: unset;
        overflow: hidden;
      }

      .normal-width{
        position: absolute;
        max-width: 700px;
      }

    }
  }
}

.full-page-section {
  position: relative;
  width: 100%;
  clear: both;
  text-shadow: 1px 1px 10px $black;

  .captionholder {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transform: translate(-50%, -50%);
    padding: 0 0.2em;

    > .caption {
      text-shadow: none;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      &,
      * {
        color: $white;
      }

      &.main{
        top: 33%;
        font-family: 'graphik';
        font-size: 14pt;
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 5px;
      }

      &.secondary{
        font-family: $sans-serif-font-family;
        font-weight: 500;
        top: 67%;
        font-size: 27pt;
        padding-top: 0.6em;
        font-family: 'lyondisplay-light';
      }

      &.mainTitle{
        top: 33%;
        font-family: 'lyon-semibold';
        font-size: 30pt;
        font-weight: 400;
      }

      &.secondaryTitle{
        font-family: $sans-serif-font-family;
        font-weight: 400;
        top: 67%;
        font-size: 12pt;
        padding-top: 1.5em;
        font-family: 'graphik';
        text-transform: uppercase;
      }

    }
  }

  > .steps {
    padding-bottom: 50vh;
    margin-top: -50vh;
    color: $white;

    section p {
      color: inherit;
    }
  }

  .titleImage{
    height: calc(100vh - #{$header-height});
    background-color: $black;
    > img, video {
      @include vendor-prefix(user-select, none);
      // sass-lint:disable no-vendor-prefixes
      //position: -webkit-sticky;
      // sass-lint:disable no-duplicate-properties
      z-index: 1;
      transform: translate3d(0, 0, 0);
      width: 100%;
      height: 100%;//calc(100vh - #{$header-height});
      -webkit-touch-callout: none;
    }

    .filter{
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, $black);;
    }

  }
}

// ***** Footer *****
footer {
  padding: $footer-padding;
  display: none;

  > div {
    max-width: $footer-max-width;
    padding: $footer-inner-padding;
    margin: 0 auto;
    font-family: $sans-serif-font-family;
    font-size: 0.9em;
    color: $text-light-color;
    background-color: $footer-background-color;
    border-top: 1px solid $light-gray;

    p {
      margin: 0;
      font-size: inherit;
      line-height: 1.5em;
      color: inherit;
    }
  }
}

// ***** Mobile *****
@media screen and (max-width: $extra-large-screen) {
  figure img {
    left: 0;
    width: $fig-mobile-image-width;
  }

  .viz-section > .viz .game-area .rootElem .gameScreen{
    background-color: $white;
  }
}

@media screen and (max-width: $large-screen) {
  html {
    font-size: 11pt;
  }

  p {
    line-height: 1.5em;
  }

  blockquote {
    padding: 20px 24px 32px;
    margin: 2.5em 0;
  }

  .intro-section {
    margin-top: $intro-mobile-margin-top;

    h1 {
      font-size: $intro-mobile-h1-size;
    }
  }

  .steps section {
    padding: $step-padding;
  }

  .background-image{
    .no-mobile{
      display: none !important;
    }
  }

  .viz-section {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 $main-padding-left-right 100vh;
      flex-basis: 100%;

      section {
        background-color: $step-background-color;
        border: 1px solid $step-border-color;
        backdrop-filter: blur(3px);
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: 1;
      width: 100%;
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  header .article-reminder {
    display: none;
  }

  .d3-tip{
    max-width: 300px;
  }

  .background-image{
    .no-mobile{
      display: none !important;
    }
  }

  .temporaryInfo{
    display: none !important;
  }

  .gameBox{
    .promptBox{
      background-color: unset !important;
      min-width: 100%;
      .repartition{
        .optionZone{
          .optionUnit{
            .selectorZone{
              min-height: 25px;
              max-width: 100px;
            }
          }
        }
      }

      .choices{
        .row{
          .choicebutton, .selectionbutton{

            .butn{
              min-height: 45px;

              .holder{
                &.icon{
                  width: 20px;
                  height: 20px;
                }
                h4{
                  font-size: 9pt;
                }
                p{
                  font-size: 8pt;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  .intro-section {
    margin-top: $intro-small-screen-margin-top;

    h1 {
      font-size: $intro-small-screen-h1-size;
    }
  }

  html {
    font-size: $small-screen-base-font-size;
  }
  // .gameBox .promptBox .header{
  //   padding: 0;
  // }
}
